.account-block {
  padding: 0;
  background-image: url(./Imagens/logo-cad.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

.account-block .overlay {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.account-block .account-testimonial {
  text-align: center;
  color: #fff;
  position: absolute;
  margin: 0 auto;
  padding: 0 1.75rem;
  bottom: 3rem;
  left: 0;
  right: 0;
}
  
  
  
  .text-theme {
    color: #9102d4 !important;
  }
  
  .btn-theme {
    background-color: #5369f8;
    border-color: #5369f8;
    color: #fff;
  }




.botaoCad{

background-color: #9102d4;
color: #fff;

}

.botaoFechar{

background-color: #9102d4;
color: #fff;

}

  .botaoCad:hover{
    background-color: #53c2b9;
    color: white;
  }

  .botaoFechar:hover{
    background-color: #53c2b9;
    color: white;
  }

  .entrar{

color: #9102d4;
text-decoration: #9102d4;

  }

  .entrar:hover{
color: #53c2b9;

  }

  .min{

font-size: small;

  }

  